<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/home-sty.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<div class="topheader">
    <ul>
        <li><a href="/event/events" class="btn btn-primary">See Events</a></li>
        <li><a href="/location/locations" class="btn btn-primary">See Locations</a></li>
        <li><a href="/location/createLocation" class="btn btn-primary">Create Location</a></li>
        <li><a href="registeruser" class="btn btn-primary">Register user</a></li>
        <li><a href="login" class="btn btn-primary">Log in</a></li>

    </ul>
</div>
<br>

<h1>Pocetna stranica</h1>

</body>
</html>